img[alt^="cat"]{
	border-style: dashed;
}

img +p::first-letter{
	font-weight: bold;
	font-size: 2em;
}


img{
	height: 40%;
	width: 30%;
}

img:hover{
	opacity: 0.5;
	cursor: pointer;
	border-radius: 60px;
}

h1{
	font-weight: bold;
	text-align: center;
}

div#site-description{
	text-align: justify;
}
.card{
	display: inline-block;
	background: #F0E6D2;
	border-color: #000000;
	border-style: solid;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 2px;
	padding: 10px;
	height: 50%;
	width: 45%;
	text-align: justify;
}

div.card :nth-child(4){
	display: none;
}
