/*Para que a un misma etiqueta compartan los mismo atributos se pone etiqueta,etiqueta*/
*{
	font-family:verdana
}
h1,h2{
	text-align:center;
	text-decoration:underline;
}

p{
	text-align:right;
	color:blue;
}
 p#Rusia,#Iran{
 	border: 1px dotted black;
 }

 span.bombo{
 	text-decoration: underline;
 	font-weight: bold;
 	color:orange;
 }
 div#header{
 	background-image: url("http://4.bp.blogspot.com/-_18AElD7MMo/UofarY9HYBI/AAAAAAAACIs/DT89R-NObB0/s1600/imagenes+en+HD+(25).jpg");
 	height: 100px;
 }